/*
    Created on : 7 Mar, 2016, 8:43:28 AMm
    Author     : Rakesh
    Shop template css file
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,900");
@import "https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700";
html, body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #666;
}

a, button {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

a {
  color: #09c4f2;
}
a:hover {
  color: #aeaeae;
}

a, a:hover, a:focus, button:hover, button:focus {
  outline: 0 !important;
  text-decoration: none;
}

blockquote {
  font-style: normal;
  font-family: "Merriweather", serif;
  font-weight: 400;
}
blockquote p {
  font-weight: 400;
}

button:focus {
  outline: 0 !important;
}

::-moz-selection {
  background-color: #191b1d;
  color: #fff;
}

::selection {
  background-color: #191b1d;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0px;
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.full-wid {
  width: 100%;
}

.separator-border-1 {
  width: 120px;
  height: 2px;
  background-color: #eee;
  display: block;
  margin: 0 auto;
}

.badge {
  font-weight: 400;
}

label, .label {
  font-weight: 500;
}

.badge {
  background-color: #09c4f2;
  font-size: 10px;
}

.dropcap:first-letter {
  content: "";
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.dropcap-color:first-letter {
  content: "";
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #09c4f2;
}

.dropcap-bg:first-letter {
  content: "";
  padding: 3px 10px;
  font-size: 20px;
  margin-right: 5px;
  background-color: #09c4f2;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.label {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.label-primary {
  background: #09c4f2;
}

.no-padd {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

/***spaces**/
.space-10 {
  width: 100%;
  height: 10px;
}

.space-20 {
  width: 100%;
  height: 20px;
}

.space-30 {
  width: 100%;
  height: 30px;
}

.space-40 {
  width: 100%;
  height: 40px;
}

.space-50 {
  width: 100%;
  height: 50px;
}

.space-60 {
  width: 100%;
  height: 60px;
}

.space-70 {
  width: 100%;
  height: 70px;
}

.space-80 {
  width: 100%;
  height: 80px;
}

.space-90 {
  width: 100%;
  height: 90px;
}

.space-100 {
  width: 100%;
  height: 100px;
}

/**margins**/
.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-b-30 {
  margin-bottom: 30px;
}

.margin-b-40 {
  margin-bottom: 40px;
}

.margin-b-50 {
  margin-bottom: 50px;
}

.skin-bg {
  background-color: #09c4f2;
}

.gray-bg {
  background: #f7f9fa;
}

/**********back to top*************/
.scrollToTop {
  text-align: center;
  text-align: center;
  background: whiteSmoke;
  font-weight: bold;
  color: #09c4f2;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 999999;
  display: none;
  opacity: 0.5;
  line-height: 0px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.scrollToTop:hover {
  text-decoration: none;
  opacity: 1;
  color: #fff !important;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../images/loader.gif") no-repeat center center;
}

.center-img {
  display: block;
  margin: 0 auto;
}

.full-img {
  width: 100%;
  height: auto;
}

/***icheck css**/
/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-gray,
.iradio_square-gray {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(../images/grey.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-gray {
  background-position: 0 0;
}

.icheckbox_square-gray.hover {
  background-position: -24px 0;
}

.icheckbox_square-gray.checked {
  background-position: -48px 0;
}

.icheckbox_square-gray.disabled {
  background-position: -72px 0;
  cursor: default;
}

.icheckbox_square-gray.checked.disabled {
  background-position: -96px 0;
}

.iradio_square-gray {
  background-position: -120px 0;
}

.iradio_square-gray.hover {
  background-position: -144px 0;
}

.iradio_square-gray.checked {
  background-position: -168px 0;
}

.iradio_square-gray.disabled {
  background-position: -192px 0;
  cursor: default;
}

.iradio_square-gray.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
  .icheckbox_square-gray,
  .iradio_square-gray {
    background-image: url(../img/grey@2x.png);
    -webkit-background-size: 240px 24px;
    background-size: 240px 24px;
  }
}
.dark-img-bg {
  background-image: url(../images/bg-8.jpg);
  background-repeat: no-repeat;
  background-color: #333;
}

@media (min-width: 768px) {
  .v-align-children {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}
@media (max-width: 767px) {
  .no-padding-xs {
    padding: 0px;
  }
}
/**************

Top bar styles

**************/
.top-bar-v1 {
  border-bottom: 1px solid #eee;
}
.top-bar-v1 ul {
  margin: 0;
  padding: 0;
}
.top-bar-v1 ul li {
  padding: 0 10px;
  line-height: 40px;
  border-left: 1px solid #eee;
}
.top-bar-v1 ul li:first-child {
  border-left: 0px;
}
.top-bar-v1 ul li a {
  color: #9a9a9a;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
}
.top-bar-v1 ul li a i, .top-bar-v1 ul li a img {
  margin-right: 5px;
  vertical-align: middle;
}
.top-bar-v1 ul li a:hover {
  color: #09c4f2;
}
.top-bar-v1 .top-bar-dropdown {
  z-index: 9999;
  padding: 0px;
  min-width: 120px;
  left: auto;
  right: 0;
}
.top-bar-v1 .top-bar-dropdown.dropdown-login-box {
  min-width: 350px;
  padding: 15px;
}
.top-bar-v1 .top-bar-dropdown.dropdown-login-box .input-group {
  margin-bottom: 10px;
}
.top-bar-v1 .top-bar-dropdown.dropdown-login-box .form-control {
  margin-bottom: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.top-bar-v1 .top-bar-dropdown.dropdown-login-box .checkbox {
  margin: 0px;
}
.top-bar-v1 .top-bar-dropdown.dropdown-login-box input[type=checkbox] {
  position: absolute;
  margin-top: 4px\9;
  margin-left: -20px;
  margin-top: 13px;
}
.top-bar-v1 .top-bar-dropdown.dropdown-login-box .checkbox label {
  font-size: 13px;
}
.top-bar-v1 .top-bar-dropdown li {
  padding: 0px;
}
.top-bar-v1 .top-bar-dropdown > li > a {
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 400;
}

/***breadcrumbs start**/
.breadrumb-transparent {
  padding-top: 200px;
  padding-bottom: 100px;
  background: url("../images/bg-4.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.breadrumb-transparent h3 {
  color: #fff;
  text-transform: uppercase;
}
.breadrumb-transparent h3 sub {
  font-size: 13px;
}

.breadcrumb-v1 {
  padding: 70px 0;
}
.breadcrumb-v1 h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
.breadcrumb-v1 p {
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 0px;
}
.breadcrumb-v1 .breadcrumb {
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: right;
}
.breadcrumb-v1 .breadcrumb a {
  color: #aeaeae;
}
.breadcrumb-v1.dark-bg {
  background-color: #333;
  padding: 70px 0;
}
.breadcrumb-v1.dark-bg h1, .breadcrumb-v1.dark-bg p, .breadcrumb-v1.dark-bg ol li {
  color: #fff;
}
.breadcrumb-v1.b-parllax {
  background: url("../images/bg-4.jpg") no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  padding: 150px 0;
  padding-top: 200px;
}
.breadcrumb-v1.b-parllax h1, .breadcrumb-v1.b-parllax p, .breadcrumb-v1.b-parllax ol li {
  color: #fff;
}
.breadcrumb-v1.b-center .breadcrumb {
  text-align: center;
}

/** navigation**/
.navbar-headroom {
  padding: 10px 0;
}
.navbar-headroom .nav-header-right .h-item a {
  color: #333;
}

.top-header {
  border: 0px;
  margin: 0px;
}
.top-header .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0px;
  font-family: "Poppins", sans-serif;
}
.top-header .navbar-nav > li > a:hover {
  color: #09c4f2;
}

.top-header .label {
  display: inline-block;
  margin-left: 10px;
}

.top-header .navbar-nav > .active > a, .top-header .navbar-nav > .active > a:focus, .top-header .navbar-nav > .active > a:hover, .top-header .navbar-nav > .open > a, .top-header .navbar-nav > .open > a:focus, .top-header .navbar-nav > .open > a:hover {
  color: #09c4f2 !important;
  background-color: transparent;
}

.navbar-default {
  background-color: #fff;
}

.header-transparent {
  background-color: transparent;
  padding: 10px 0;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-transparent.shrink.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 0px;
}

.header-transparent.shrink.navbar-default {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0px;
}

.navbar-default.header-transparent .navbar-nav > li > a {
  color: #eee;
}
.navbar-default.header-transparent .navbar-nav > li > a:hover {
  color: #09c4f2;
}

.navbar-default.header-transparent.shrink .navbar-nav > li > a {
  color: #333;
}
.navbar-default.header-transparent.shrink .navbar-nav > li > a:hover {
  color: #09c4f2;
}

.navbar-default.header-transparent .navbar-brand {
  background-image: url("../images/logo-light.png");
  background-repeat: no-repeat;
  width: 91px;
  height: auto;
  text-indent: -9999px;
  background-position: 50% 50%;
  margin-left: 12px;
}

.navbar-inverse.header-transparent .navbar-brand {
  background-image: url("../images/logo-light.png");
  background-repeat: no-repeat;
  width: 91px;
  height: auto;
  text-indent: -9999px;
  background-position: 50% 50%;
  margin-left: 7px;
}

.navbar-default.header-transparent.shrink .navbar-brand {
  background-image: url("../images/logo-dark.png");
}

.navbar-default.header-transparent.shrink {
  border-bottom: 1px solid #eee;
}

.navbar-default.header-transparent.shrink .h-item a {
  color: #333;
}

.navbar-inverse .navbar-nav > li > a {
  color: #eee;
}

.nav-header-right .h-item {
  display: block;
  float: left;
  margin-left: 8px;
}
.nav-header-right .h-item a {
  display: block;
  padding: 11px 10px;
  color: #fff;
}

.nav-trigger-fullscreen {
  background-color: transparent;
  padding: 0px;
  border: 0px;
  margin-top: 9px;
  color: #aeaeae;
  font-size: 21px;
}

/***sticky header**/
.sticky-header {
  padding: 10px 0;
  z-index: 9999 !important;
}
.sticky-header .navbar-brand > img {
  margin-top: -1px;
}

.navbar-default.sticky-header {
  border-bottom: 1px solid #eee;
}
.navbar-default.sticky-header .nav-header-right .h-item a {
  color: #777;
}

.navbar-inverse.sticky-header .nav-header-right .h-item a {
  color: #fff;
}

.top-header.navbar-default .navbar-toggle, .top-header.navbar-inverse .navbar-toggle {
  border: 0px;
}
.top-header.navbar-default .navbar-toggle:hover, .top-header.navbar-default .navbar-toggle:focus, .top-header.navbar-inverse .navbar-toggle:hover, .top-header.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.top-header.navbar-default .navbar-toggle .icon-bar, .top-header.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #09c4f2;
}

/**header logo center style**/
.center-logo {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

@media (min-width: 768px) {
  .header-align-center.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .header-align-center.navbar .navbar-collapse {
    text-align: center;
  }
}
/**headroom navbar**/
.headroom {
  -moz-transition: transform 200ms linear;
  -o-transition: transform 200ms linear;
  -webkit-transition: transform 200ms linear;
  transition: transform 200ms linear;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.headroom--pinned {
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.headroom--unpinned {
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/*************drop down menu***********/
.dropdown-menu {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  min-width: 200px;
  background-color: white;
  padding: 0px;
}
.dropdown-menu.dark-dropdown {
  background-color: #222;
}
.dropdown-menu.dark-dropdown > li > a {
  color: #aeaeae;
}
.dropdown-menu.dark-dropdown > li > a:hover {
  background-color: transparent;
  color: #09c4f2;
}
.dropdown-menu.dark-dropdown .mega-vertical-nav li a {
  color: #aeaeae;
}
.dropdown-menu > li > a {
  color: #666;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 0px;
  padding: 8px 15px;
}
.dropdown-menu.h-item-dropdown {
  right: 0;
  left: auto;
  min-width: 300px;
  margin-top: -1px;
}

.dropdown-span {
  padding: 15px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0px;
  color: #eee;
}
.dropdown-span:hover {
  color: #09c4f2;
}

.navbar-default.header-transparent.shrink .navbar-nav > li > .dropdown-span {
  color: #333;
}
.navbar-default.header-transparent.shrink .navbar-nav > li > .dropdown-span:hover {
  color: #09c4f2;
}

/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 *
 * http://geedmo.github.com/yamm3
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .yamm-fw {
  position: static;
}

.yamm .container {
  position: relative;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 15px;
  right: 15px;
}

.yamm-content {
  padding: 25px 30px;
}
.yamm-content h3 {
  color: #333;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.yamm-content .mega-vertical-nav > li > a {
  color: #666;
  padding: 5px 0px;
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 400;
}
.yamm-content .mega-vertical-nav > li > a:hover, .yamm-content .mega-vertical-nav > li > a:focus {
  color: #09c4f2;
  background-color: transparent;
}
.yamm-content .mega-vertical-nav > li > a i {
  margin-right: 10px;
}

/** third level dropdown**/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #09c4f2;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 0px;
}

/**search on click**/
.dropdown-search {
  position: relative;
}

.search-click {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 999;
  display: none;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
.search-click form {
  background-color: transparent;
  padding: 0px 15px;
}
.search-click form .form-control {
  margin: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 75px;
  background-color: transparent;
  border: 0px;
  font-size: 20px;
  font-weight: 400;
}
.search-click form .fa-times {
  cursor: pointer;
  font-size: 18px;
  right: 30px;
  top: 28px;
  position: absolute;
  color: #777;
}

.header-transparent.shrink .search-click .form-control {
  height: 52px;
}
.header-transparent.shrink .search-click .fa-times {
  top: 15px;
}

@media (min-width: 768px) {
  .dropdown-menu {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    display: block;
    visibility: hidden;
    opacity: 0;
  }

  .open > .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }

  .dropdown-submenu > .dropdown-menu {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    opacity: 1;
    visibility: visible;
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-nav {
    margin: 0px -15px;
  }

  .dropdown-submenu > .dropdown-menu {
    display: block;
    margin-left: 15px;
  }

  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
  }

  .navbar-inverse .navbar-nav {
    background-color: #000;
  }

  .navbar-default .navbar-nav {
    background-color: #fff;
  }

  .navbar-default.header-transparent .navbar-nav > li > a {
    color: #333;
  }

  .yamm-content h3 {
    margin-top: 10px;
    color: #eee;
  }
}
/*
Form elements
*/
/**from inputs**/
input[type="text"],
input[type="password"], input[type="email"], select.form-control {
  height: 50px;
}

.form-control {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 500;
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
}
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.input-group-addon {
  border: 0px;
}

.has-error .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border: 1px solid #a94442;
}

#captcha {
  border: 2px solid #f3f3f3;
}

#emailAlert.alert-success {
  background-color: #3c763d;
  color: #fff;
  margin-top: 15px !important;
}

/**login register**/
.form-login-register .social-signin {
  width: 100%;
  display: block;
}

/**button**/
.btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  overflow: hidden;
  border: 0px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 12px 4px;
  font-family: "Poppins", sans-serif;
}
.btn i.left {
  margin-right: 10px;
}
.btn i.right {
  margin-left: 10px;
}

.btn-rounded {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
}

.btn-3d {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.btn-xs {
  padding: 3px 8px 1px;
  font-size: 10px;
}

.btn-lg {
  padding: 10px 30px 8px;
}

.btn-xl {
  height: 50px;
  line-height: 50px;
  min-width: 200px;
  text-align: center;
  padding: 0px 26px;
}

.btn-default {
  background-color: #f5f5f5;
}
.btn-default:hover, .btn-default:focus {
  background-color: #666;
  color: #fff;
}

.btn-skin {
  background-color: #09c4f2;
  color: #fff;
}
.btn-skin:hover, .btn-skin:focus {
  background-color: #666;
  color: #fff;
}

.btn-dark {
  background-color: #666;
  color: #fff;
}
.btn-dark:hover, .btn-dark:focus {
  background-color: #09c4f2;
  color: #fff;
}

.btn-border-dark {
  border: 2px solid #333;
  color: #333;
  background-color: transparent;
}
.btn-border-dark:hover, .btn-border-dark:focus {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.btn-border-white {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}
.btn-border-white:hover, .btn-border-white:focus {
  background-color: rgba(255, 255, 255, 0.95);
  border-color: rgba(255, 255, 255, 0.95);
  color: #333;
}

.btn-border {
  border: 2px solid #09c4f2;
  color: #09c4f2;
  background-color: transparent;
}
.btn-border:hover, .btn-border:focus {
  background-color: #09c4f2;
  color: #fff;
}
.btn-border.btn-hvr:hover, .btn-border.btn-hvr:focus {
  background-color: transparent;
  color: #fff;
}
.btn-border.btn-hvr.hvr-radial-in:hover, .btn-border.btn-hvr.hvr-rectangle-in:hover {
  background-color: #09c4f2;
}

.button-elements {
  text-align: center;
}
.button-elements a {
  margin: 5px;
}

.hvr-sweep-to-right:before, .hvr-sweep-to-left:before, .hvr-sweep-to-bottom:before, .hvr-sweep-to-top:before, .hvr-bounce-to-right:before, .hvr-bounce-to-left:before, .hvr-bounce-to-bottom:before, .hvr-bounce-to-top:before, .hvr-radial-out:before, .hvr-rectangle-out:before, .hvr-shutter-out-horizontal:before, .hvr-shutter-out-vertical:before, .hvr-sweep-to-right:before, .hvr-sweep-to-left:before, .hvr-sweep-to-bottom:before, .hvr-sweep-to-top:before, .hvr-bounce-to-right:before, .hvr-bounce-to-left:before, .hvr-bounce-to-bottom:before, .hvr-bounce-to-top:before, .hvr-radial-out:before, .hvr-rectangle-out:before, .hvr-shutter-out-horizontal:before, .hvr-shutter-out-vertical:before {
  background: #09c4f2;
}

.hvr-radial-in:before, .hvr-rectangle-in:before, .hvr-shutter-in-horizontal:before, .hvr-shutter-in-vertical:before {
  background: #fff;
}

.hvr-radial-in, .hvr-rectangle-in, .hvr-shutter-in-horizontal, .hvr-shutter-in-vertical {
  background: #09c4f2;
}
.hvr-radial-in:hover, .hvr-rectangle-in:hover, .hvr-shutter-in-horizontal:hover, .hvr-shutter-in-vertical:hover {
  background: #09c4f2;
}

/***************
Social icons
***************/
.social-list li {
  padding: 0px;
}

.social-icon {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: left;
  margin: 5px 2px;
}
.social-icon i {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.social-icon.social-sm {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
}
.social-icon.social-gray {
  color: #aeaeae;
  background-color: #f3f3f3;
}
.social-icon.social-gray:hover {
  color: #fff;
  border-color: transparent;
}
.social-icon.social-dark {
  background-color: #333;
  color: #fff;
}
.social-icon.social-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social-icon.social-signin {
  color: #fff;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  height: 50px;
  line-height: 50px;
  min-width: 200px;
  text-align: center;
  padding: 0px 26px;
  padding-left: 60px;
}
.social-icon.social-signin > span {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
}
.social-icon.social-signin:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/**icons hover colored**/
.si-colored-facebook, .si-facebook:hover {
  background-color: #3B5998 !important;
}

.si-colored-twitter, .si-twitter:hover {
  background-color: #00ACEE !important;
}

.si-colored-g-plus, .si-g-plus:hover {
  background-color: #DD4B39 !important;
}

.si-colored-skype, .si-skype:hover {
  background-color: #00AFF0 !important;
}

.si-linkedin:hover, .si-colored-linkedin {
  background-color: #0E76A8 !important;
}

.si-pinterest:hover, .si-colored-pinterest {
  background-color: #C8232C !important;
}

.si-rss:hover, .si-colored-rss {
  background-color: #EE802F !important;
}

.si-pinterest:hover, .si-colored-pinterest {
  background-color: #C8232C !important;
}

.si-tumblr:hover, .si-colored-tumblr {
  background-color: #34526F !important;
}

.si-vimeo:hover, .si-colored-vimeo {
  background-color: #86C9EF !important;
}

.si-digg:hover, .si-colored-digg {
  background-color: #191919 !important;
}

.si-instagram:hover, .si-colored-instagram {
  background-color: #3F729B !important;
}

.si-flickr:hover, .si-colored-flickr {
  background-color: #FF0084 !important;
}

.si-paypal:hover, .si-colored-paypal {
  background-color: #00588B !important;
}

.si-yahoo:hover, .si-colored-yahoo {
  background-color: #720E9E !important;
}

.si-android:hover, .si-colored-android {
  background-color: #A4C639 !important;
}

.si-appstore:hover, .si-colored-appstore {
  background-color: #000 !important;
}

.si-dropbox:hover, .si-colored-dropbox {
  background-color: #3D9AE8 !important;
}

.si-dribbble:hover, .si-colored-dribbble {
  background-color: #EA4C89 !important;
}

.si-soundcloud:hover, .si-colored-soundcloud {
  background-color: #F70 !important;
}

.si-xing:hover, .si-colored-xing {
  background-color: #126567 !important;
}

.si-phone:hover, .si-colored-phone {
  background-color: #444 !important;
}

.si-behance:hover, .si-colored-behance {
  background-color: #053eff !important;
}

.si-github:hover, .si-colored-github {
  background-color: #171515 !important;
}

.si-stumbleupon:hover, .si-colored-stumbleupon {
  background-color: #F74425 !important;
}

.si-email:hover, .si-colored-email {
  background-color: #6567A5 !important;
}

.si-wordpress:hover, .si-colored-wordpress {
  background-color: #1E8CBE !important;
}

/***breadcrumbs start**/
.breadrumb-transparent {
  padding-top: 200px;
  padding-bottom: 100px;
  background: url("../images/bg-4.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.breadrumb-transparent h3 {
  color: #fff;
  text-transform: uppercase;
}
.breadrumb-transparent h3 sub {
  font-size: 13px;
}

.breadcrumb-v1 {
  padding: 70px 0;
}
.breadcrumb-v1 h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
.breadcrumb-v1 p {
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 0px;
}
.breadcrumb-v1 .breadcrumb {
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: right;
}
.breadcrumb-v1 .breadcrumb a {
  color: #aeaeae;
}
.breadcrumb-v1.dark-bg {
  background-color: #333;
  padding: 70px 0;
}
.breadcrumb-v1.dark-bg h1, .breadcrumb-v1.dark-bg p, .breadcrumb-v1.dark-bg ol li {
  color: #fff;
}
.breadcrumb-v1.b-parllax {
  background: url("../img/slider.jpg") no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  padding: 10px 0;
  padding-top: 100px;
}
.breadcrumb-v1.b-parllax h1, .breadcrumb-v1.b-parllax p, .breadcrumb-v1.b-parllax ol li {
  color: #fff;
}
.breadcrumb-v1.b-center .breadcrumb {
  text-align: center;
}

/******************
Paginations css
******************/
.pagination, .pager li > a, .pager li > span {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.pagination > li > a {
  margin: 4px;
  border: 0px;
  color: #09c4f2;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #09c4f2;
}

/**************

Sidebar css start

****************/
.widget {
  margin-bottom: 40px;
}
.widget h3 {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #333;
}
.widget ul.list-unstyled {
  margin: 0;
  padding: 0;
}
.widget ul.list-unstyled li {
  padding-bottom: 8px;
}
.widget ul.list-unstyled li a {
  text-transform: uppercase;
}
.widget ul.list-unstyled li a:after {
  content: "\f105";
  margin-left: 8px;
  font-family: 'FontAwesome';
}
.widget .tag-list li {
  padding: 0;
  margin: 0px;
}
.widget .tag-list li a {
  display: block;
  margin: 2px;
  padding: 3px 8px;
  background-color: #333;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.widget .tag-list li a:hover {
  background-color: #09c4f2;
  color: #fff;
}
.widget .latest-post a {
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  color: #777;
  padding-left: 0px;
}
.widget .latest-post a:hover {
  background-color: transparent;
  color: #09c4f2;
}
.widget .latest-post i {
  margin-left: 8px;
}
.widget .latest-post span {
  color: #999;
  display: block;
}
.widget .left-img li {
  padding-bottom: 10px;
}
.widget .left-img li img {
  width: 60px;
  height: auto;
  float: left;
  margin-right: 15px;
}
.widget .left-img li .thumb:after {
  content: "";
  display: none;
}
.widget .left-img li .widget-content {
  overflow: hidden;
}
.widget .left-img li .widget-content h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
.widget .left-img li .widget-content h4 a {
  color: #666;
  text-transform: capitalize;
}
.widget .left-img li .widget-content h4 a:after {
  content: "";
  display: none;
}
.widget .left-img li .widget-content h4 a:hover {
  color: #09c4f2;
}

.tweet ul {
  list-style: none;
  padding: 0px;
}
.tweet ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}

/**service box**/
.service-box {
  text-align: center;
}
.service-box h3 {
  text-transform: uppercase;
  margin-top: 0px;
  font-size: 1.5rem;
}

/**footer**/
.footer {
  background-color: #f7f7f7;
  padding-top: 50px;
}
.footer h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}
.footer .form-control {
  margin-bottom: 10px;
  font-size: 12px;
}
.footer .error {
  border-color: red brown;
}
.footer .success {
  border-color: green;
}
.footer ul li {
  padding: 3px 0;
}
.footer ul li a {
  color: #555;
}
.footer ul li a:hover {
  color: #09c4f2;
}

/**cart style**/
.cart-dropdown li {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}
.cart-dropdown li .total {
  float: right;
  color: #09c4f2;
  font-weight: 600;
  font-size: 16px;
}
.cart-dropdown li.cart-footer {
  text-align: center;
}
.cart-dropdown li.cart-footer a {
  display: inline-block;
  margin: 8px;
  padding: 5px 18px;
  color: #fff !important;
}
.cart-dropdown li.cart-footer a:hover {
  color: #333 !important;
}
.cart-dropdown .thumb {
  float: left;
  margin-right: 15px;
  padding: 0 !important;
}
.cart-dropdown .thumb img {
  width: 80px;
  height: auto;
}
.cart-dropdown .cart-content {
  overflow: hidden;
}
.cart-dropdown h4 {
  font-size: 15px;
  margin-bottom: 0px;
}
.cart-dropdown h4 a {
  color: #333 !important;
  padding: 0px !important;
}
.cart-dropdown h4 a:hover {
  color: #09c4f2 !important;
}
.cart-dropdown p {
  color: #aeaeae !important;
  margin: 0px;
}

.new-arrivals {
  padding: 80px 0;
  padding-bottom: 0px;
  background-color: #f7f8f8;
}

.left-title {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 16px;
}
.left-title:after {
  content: "";
  width: 50px;
  height: 2px;
  border: 2px double #eee;
  position: absolute;
  left: 0;
  bottom: 0;
}

.center-title {
  text-align: center;
}
.center-title h2 {
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}

.border-style {
  width: 100px;
  height: 1px;
  background-color: #09c4f2;
  margin: 10px auto;
  position: relative;
}
.border-style:after {
  content: "";
  width: 70px;
  position: absolute;
  top: 4px;
  height: 1px;
  background-color: #09c4f2;
  left: 15px;
}

/*master slider for new arrivals*/
.ms-partialview-template .ms-slide-info {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  width: 100%;
}

.ms-partialview-template .ms-slide-info h3 {
  margin: 5px;
  font-weight: 300;
  font-size: 18pt;
  color: #222;
}

.ms-partialview-template .ms-slide-info h4 {
  margin: 5px;
  font-weight: 300;
  font-size: 14pt;
  color: #7A7A7A;
}

.ms-partialview-template .ms-slide-info p {
  font-size: 13pt;
  margin: 6px;
}

.product-box .product-meta {
  position: relative;
  overflow: hidden;
  padding-top: 15px;
}
.product-box .product-meta h4 {
  font-size: 1.7rem;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.product-box .product-meta h4 a {
  color: #777;
}
.product-box .product-meta .add_wishlist {
  display: inline-block;
  color: #aeaeae;
  position: absolute;
  right: 0;
  top: 15px;
}
.product-box .product-meta .add_wishlist:hover {
  color: #09c4f2;
}
.product-box .product-meta p {
  position: relative;
}
.product-box .product-meta p .price {
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #333;
}
.product-box .product-meta p .more-info {
  position: absolute;
  left: -10px;
  top: 0;
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.product-box:hover .product-meta p .price {
  opacity: 0;
}
.product-box:hover .product-meta p .more-info {
  opacity: 1;
  left: 0px;
}

/** master slider **/
.btn1 {
  border: 2px solid #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  padding: 10px 25px;
  display: inline-block;
}
.btn1:hover {
  background-color: #fff;
  color: #333;
}

.title2 {
  font-size: 90px;
  line-height: 90px;
  font-weight: 700;
  color: #fff;
}

.sub-title2 {
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.sub-title3 {
  font-size: 20px;
  color: #fff;
}

/**product widget**/
.product-widget li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.product-widget li:last-child {
  border-bottom: 0px;
}
.product-widget .thumb {
  float: left;
  width: 90px;
  margin-right: 15px;
}
.product-widget .widget-content {
  overflow: hidden;
}
.product-widget .widget-content h4 {
  margin-bottom: 5px;
}
.product-widget .widget-content h4 a {
  color: #222;
}
.product-widget .widget-content h4 a:hover {
  color: #09c4f2;
}
.product-widget .widget-content .price {
  font-size: 15px;
  display: block;
}

.testimonials {
  background: url("../img/gemstones.jpg") no-repeat;
  background-size: cover;
  padding: 100px 0;
  background-attachment: fixed;
  background-position: 0 50%;
  position: relative;

}
.testimonials h2, .testimonials p, .testimonials h5 {
  color: black;
}
.testimonials .item {
  padding: 0px 30px;
  text-align: center;
}
.testimonials .owl-controls {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  margin-top: -20px;
}
.testimonials .owl-prev {
  position: absolute;
  left: 0;
}
.testimonials .owl-next {
  position: absolute;
  right: 0;
}
.testimonials .owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  font-size: 40px;
  padding: 0px;
}

.post h3 {
  font-weight: 500;
  margin-top: 15px;
}
.post h3 a {
  color: #333;
}
.post h3 a:hover {
  color: #09c4f2;
}
.post span {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}
.post span i {
  margin-right: 5px;
}
.post span a {
  color: #aeaeae;
}
.post span a:hover {
  color: #09c4f2;
}
.post span + span {
  margin-left: 10px;
}

.product-detail h2 {
  color: #333;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 400;
}
.product-detail .price {
  font-size: 20px;
  color: #09c4f2;
  display: block;
  margin-bottom: 20px;
  font-weight: 300;
}
.product-detail form.cart div.quantity {
  display: inline-block;
  vertical-align: top;
}
.product-detail .quantity {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
}
.product-detail form.cart {
  margin-top: 30px;
}
.product-detail form.cart div.quantity input.qty {
  height: 60px;
  width: 80px;
  font-size: 1em;
  padding-left: 2em;
}
.product-detail form.cart .button {
  text-transform: uppercase;
  height: 60px;
  vertical-align: top;
  margin-left: -4px;
  padding-left: 5em;
  padding-right: 5em;
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.product-detail form.cart .button:hover {
  background-color: #09c4f2;
  border-color: #09c4f2;
}

.cart-socials ul li {
  padding: 0px;
}
.cart-socials ul li:first-child a {
  border-right: 1px solid #eee;
}
.cart-socials ul li a {
  font-size: 25px;
  color: #999;
  padding: 1px 8px;
  display: block;
}
.cart-socials ul li a:hover {
  color: #09c4f2;
}

.item-info-tabs {
  text-align: center;
  border-bottom: 1px solid #eee;
}
.item-info-tabs > li {
  padding: 0px 20px;
}
.item-info-tabs > li > a {
  padding: 10px 0px;
  color: #aaa;
  display: block;
  border-bottom: 1px solid transparent;
}
.item-info-tabs > li > a:hover {
  color: #09c4f2;
}
.item-info-tabs > li.active a {
  color: #09c4f2;
  border-color: #09c4f2;
}

.product-extra-info {
  padding: 0;
  margin: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.product-extra-info li {
  color: #aaa;
  padding: 10px 0;
}
.product-extra-info > li > a {
  color: #aaa;
}
.product-extra-info > li > a:hover {
  color: #09c4f2;
}
.product-extra-info span {
  color: #000;
  margin-right: 5px;
  display: inline-block;
  width: 70px;
}

.product-information .tab-content {
  padding-top: 30px;
}

.reviews li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.reviews li:last-child {
  border-bottom: 0px;
}
.reviews .avtar {
  display: block;
  float: left;
  margin-right: 20px;
}
.reviews .review-content {
  overflow: hidden;
}
.reviews .review-content p {
  margin-top: 10px;
}
.reviews h4 {
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 0px;
}
.reviews .time-review {
  color: #09c4f2;
  display: block;
}
.reviews .rating {
  float: right;
  color: #dc9814;
}

.shopping-cart-table.table {
  border-bottom-width: 0;
  margin: 0;
}
.shopping-cart-table.table .td-qty {
  min-width: 48px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  width: 100px;
  vertical-align: middle;
}
.shopping-cart-table.table .td-images {
  width: 131px;
  vertical-align: middle;
}
.shopping-cart-table.table .td-images img {
  display: block;
  margin: 0 auto;
}
.shopping-cart-table.table .product-remove {
  font-size: 25px;
  color: #999;
}
.shopping-cart-table.table .product-remove:hover {
  color: #09c4f2;
}
.shopping-cart-table.table .td-name {
  text-align: left;
  vertical-align: middle;
}
.shopping-cart-table.table .td-name a {
  color: #999;
  font-size: 13px;
}
.shopping-cart-table.table .td-name a:hover {
  color: #09c4f2;
}
.shopping-cart-table.table .td-qty input {
  margin: 0;
  width: 40px;
  text-align: center;
}
.shopping-cart-table.table .td-edit {
  padding-left: 20px;
  padding-right: 20px;
  width: 92px;
  vertical-align: middle;
}
.shopping-cart-table.table a.edit {
  color: #707070;
  font-size: 12px;
  text-decoration: none;
}
.shopping-cart-table.table a.edit:hover {
  color: #09c4f2;
}
.shopping-cart-table.table .td-price {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 112px;
  vertical-align: middle;
}
.shopping-cart-table.table .td-total {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 102px;
  vertical-align: middle;
}
.shopping-cart-table.table .td-remove {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 60px;
  vertical-align: middle;
}

.coupon-code {
  position: relative;
}
.coupon-code label {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: 12px;
  line-height: 51px;
  color: #282828;
  height: 50px;
}
.coupon-code .input-text {
  font-size: 12px;
  width: 100%;
  height: 50px;
  padding: 14px 91px 15px 120px;
}
.coupon-code .button {
  position: absolute;
  top: 10px;
  right: 7px;
  padding: 7px 16px;
}

@media (max-width: 567px) {
  .coupon-code label {
    display: none;
  }
  .coupon-code .input-text {
    padding-left: 20px;
  }
}
.cart-totals {
  background: #fafafa;
  border: 1px solid #e5e5e5;
}
.cart-totals > li {
  padding: 19px 21px;
  color: #000;
  border-top: 1px solid #e7e7e7;
  overflow: hidden;
}
.cart-totals > li:first-child {
  border-top: 0 none;
}

.shipping-method li {
  padding-bottom: 5px;
}
.shipping-method label {
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
  width: 85%;
  display: inline-block;
}
.shipping-method .amount {
  display: inline-block;
  float: right;
}

.calculate-shipping a {
  display: block;
  color: #000;
}
.calculate-shipping a i {
  float: right;
}

.total-values {
  color: #09c4f2 !important;
  font-size: 20px;
}

.checkout-top p {
  font-weight: 300;
  font-size: 18px;
  color: #aaa;
}
.checkout-top p a {
  color: #09c4f2;
  display: inline-block;
  margin-left: 4px;
}
.checkout-top p a i {
  display: inline-block;
  margin-left: 4px;
}
.checkout-top p a:hover {
  color: #aaa;
}
.checkout-top .form-control {
  margin-bottom: 10px;
}

label.error {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  color: red;
  float: none;
}
label.error:before, label.error:after {
  content: "";
  clear: both;
  display: table;
}

.create-account {
  color: #aaa;
  font-size: 13px;
}
.create-account:hover {
  color: #09c4f2;
}

.checkout-form .shipping-method label {
  width: 75%;
}

.payment-methods {
  border: 1px solid #eee;
}
.payment-methods li {
  border-top: 1px solid #eee;
  padding: 20px 15px;
}
.payment-methods li:first-child {
  border-top: 0px;
}
.payment-methods li label {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
  cursor: pointer;
}
.payment-methods li label img {
  margin-left: 10px;
}
.payment-methods li span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
